body {
  font-family: sans-serif;
  background-color: cadetblue;
  color: white;
}

h2 {
  text-align: center;
}

img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

#container {
  border: 1px solid white;
  border-radius: 10px;
  width: 550px;
}
.inline {
  display: inline-block;
  margin: 10px;
}
.center {
  margin: auto;
  width: 50%;
  padding: 20px;
}
.button {
  font-size: large;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 5px 40px 5px 40px;
}
